{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block content %}
<form action={% url 'admin:schedule_task' %} method="post" novalidate>
  {% csrf_token %}
  <table border="1">
    {% for field in form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {% if field.errors and display_errors %}
            {{ field.errors }}
          {% endif %}
          {{ field }}
          {{ field.help_text }}
        </td>
      </tr>
    {% endfor %}
  </table>
  <button type="submit">Submit</button>
</form>

{% endblock %}